<div class="form-header">
    <h2>
        <%= title %>
    </h2>

</div>

<form action="tools?sasdf" method="post" enctype="multipart/form-data">



    <input type="submit">
</form>

<form action="submit" method="post" enctype="multipart/form-data">
    <input type="file" name="files">

    <input type="submit">
</form>
<script>
    // 3. call fileuploader instance
    $('input:file').fileuploader({

    });
</script>